<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/tickets}">Tickets</a></li>
			</ul>
		</div>

	</nav>

	<br />
	<br />
	<br />

	<div class="container">

		<div class="row col-md-8 offset-md-2 ">

			<div class="card">
				<div class="card-header">
					<h2 class="text-center">Create Ticket</h2>

				</div>
				<div class="card-body">

					<form role="form" th:action="@{/tickets}" th:object="${ticket}"
						method="POST">

						<div class="mb-3">
							<label class="form-label"> Title </label> <input type="text"
								class="form-control" id="title" placeholder="Enter ticket title"
								required name="title" th:field="*{title}" />
							<p th:if="${#fields.hasErrors('title')}" class="text-danger"
								th:errors="*{title}"></p>
						</div>


						<div class="mb-3">
							<label class="form-label"> Short Description </label>
							<textarea class="form-control" id="shortDescription"
								placeholder="Enter ticket description" rows="3" required
								name="shortDescription" th:field="*{shortDescription}">     
							 </textarea>
							<p th:if="${#fields.hasErrors('shortDescription')}"
								class="text-danger" th:errors="*{shortDescription}"></p>

						</div>

						<div class="mb-3">
							<label class="form-label"> Content </label>
							<textarea class="form-control" id="content"
								placeholder="Enter content (ex.- event, venue, time etc.)"
								rows="3" name="content" th:field="*{content}">   
							 </textarea>
							<p th:if="${#fields.hasErrors('content')}" class="text-danger"
								th:errors="*{content}"></p>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>

					</form>

				</div>

			</div>


		</div>

	</div>
	<br />
	<br />
	<br />
	<br />

	<script src="https://code.jquery.com/jquery-3.6.3.min.js"
		integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
	<script>
                        ClassicEditor
                                .create( document.querySelector( '#content' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
</body>
</html>