<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>

	<div class="container">

		<br> <br> <br> <br>

		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<br>
					<h1 class="text-center">Welcome!</h1>
					<br>
					<h3 class="text-center">Have a visit to our Ticket Tracker
						Application</h3>
					<br>
					<div class="text-center">
						<a href="/tickets" class="btn btn-primary btn-sm mb-3"> Visit
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>